.card{box-shadow:0 1px 4px rgba(0,0,0,0.4);border:0}.card .card-header{background-color:white}.card .card-footer{background-color:white}

        body {font-size: 12px;}
        .bg-primary { background-color: #007bff;}
        .bg-success { background-color: #28a745;}
        .bg-info { background-color: #17a2b8;}
        .bg-warning { background-color: #FFC10D;}
        .bg-danger { background-color: #dc3545;}
        .bg-secondary { background-color: #6c757d;}
        .bg-light { background-color: #f8f9fa;}
        .bg-dark { background-color: #343a40;}
        .text-primary { color: #007bff;}
        .text-success { color: #28a745;}
        .text-info { color: #17a2b8;}
        .text-warning { color: #FFC10D;}
        .text-danger { color: #dc3545;}
        .text-secondary { color: #6c757d;}
        .text-light { color: #f8f9fa;}
        .text-dark { color: #343a40;}
        